:root {
    --main-tra: 0.5s;
    --main-col: rgb(66, 189, 237);
    --hover-col: rgb(32, 90, 137);
}
* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
}
body {
    font-family: "Almarai", sans-serif;
}
a {
    text-decoration: none;
    color: initial;
    display: block;
}
/* main classes */
.container {
    width: 1200px;
    padding: 25px 35px;
    margin: auto;
}
.content {
    margin-bottom: 400px;
}
/* temp */
.op {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    z-index: 1000;
    transition: var(--main-tra);
}
.op .logo {
    width: 200px;
}
.op .logo img {
    max-width: 100%;
}

.op .links {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 25px;
}
.op .links a {
    padding: 20px 5px;
    font-size: 18px;
    font-weight: bolder;
}
.caus {
    background-color: var(--main-col);
}
.caus:hover {
    background-color: var(--hover-col);
}
.op .links .caus {
    color: white;
    font-weight: lighter;
    font-size: 16px;
    padding: 20px;
    border-radius: 500px;
}
.op .links a:not(:last-child):hover {
    color: var(--main-col);
}
/* main-page */
.main-page {
    background: url("../photos/bannar-copy2.jpg") top center no-repeat;
    background-size: cover;
}
/* Header */
.op {
    display: none;
}
.main-page .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    z-index: 1000;
    transition: var(--main-tra);
}
.main-page .main-header .logo {
    width: 200px;
}
.main-page .main-header .logo img {
    max-width: 100%;
}

.main-page .main-header .links {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 25px;
}
.main-page .main-header .links a {
    padding: 20px 5px;
    font-size: 18px;
    font-weight: bolder;
}
.caus {
    background-color: var(--main-col);
}
.caus:hover {
    background-color: var(--hover-col);
}
.main-page .main-header .links .caus {
    color: white;
    font-weight: lighter;
    font-size: 16px;
    padding: 20px;
    border-radius: 500px;
}
.main-page .main-header .links a:not(:last-child):hover {
    color: var(--main-col);
}

/* Info */
.main-page .main-info {
    margin: 40px 0;
    padding: 40px 0;
    direction: rtl;
}
.main-page .main-info .f1 {
    color: rgb(163, 167, 172);
    font-size: 27px;
    margin-right: 60px;
    position: relative;
}
.main-page .main-info .f1::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: var(--main-col);
    top: 50%;
    right: -60px;
}
.main-page .main-info .f2,
.main-page .main-info .f3 {
    margin: 10px 0;
    font-weight: 500;
    font-size: 70px;
}
.main-page .main-info .f3 {
    color: var(--main-col);
}
.main-page .main-info .f4,
.main-page .main-info .f5 {
    color: rgb(105, 112, 120);
}
.main-page .main-info .caus {
    margin: 30px 0px 20px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: lighter;
    font-size: 15px;
    padding: 20px;
    border-radius: 500px;
}
/* Main Status */
.main-page .main-st {
    margin: 20px 0;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(255, 255, 255);
    gap: 30px;
    box-shadow: 0 2px 10px rgba(52, 61, 71, 0.2);
}
.main-page .main-st .box {
    width: 320px;
    height: 100%;
    text-align: center;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-page .main-st .box i {
    margin: 15px 0;
    color: var(--main-col);
    font-size: 45px;
    padding: 20px;
    border: 2px solid var(--main-col);
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
.main-page .main-st .box p:first-of-type {
    margin: 15px 0;
    font-size: 25px;
    color: rgb(47, 57, 69);
}
.main-page .main-st .box p:last-of-type {
    margin: 15px 0;
    font-size: 15px;
    color: rgb(109, 116, 124);
}
/* About Us */
.abo-page {
    background-color: rgb(35, 117, 167);
    color: white;
    padding: 80px 0px;
    position: relative;
}
.abo-page::before {
    content: "";
    position: absolute;
    width: 700px;
    height: 100%;
    background-color: white;
    right: 0px;
    top: 0;
    z-index: 1;
}
.abo-page .container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px;
}
.abo-page .container .abo-info {
    direction: rtl;
    height: 100%;
    padding: 80px 0px;
}
.abo-page .container .abo-info .abo-te {
    font-size: 20px;
    position: relative;
    margin: 10px 0;
}
.abo-page .container .abo-info .abo-te::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: var(--main-col);
    right: 65px;
    top: 50%;
}
.abo-page .container .abo-info h2 {
    font-size: 40px;
    font-weight: 500;
    margin: 15px 0px 20px;
}
.abo-page .container .abo-info h2 span {
    color: var(--main-col);
}
.abo-page .container .abo-info .abo-st {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
.abo-page .container .abo-info .abo-st .abo-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    padding: 10px 0px;
}
.abo-page .container .abo-info .abo-st .abo-box i {
    font-size: 30px;
    color: rgb(189, 214, 229);
    font-weight: bold;
}
.abo-page .container .abo-info .abo-st .abo-box .abo-le {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
    gap: 20px;
}
.abo-page .container .abo-info .abo-st .abo-box .abo-le h3 {
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.abo-page .container .abo-info .abo-st .abo-box .abo-le p {
    color: rgb(189, 214, 229);
}
.abo-page .container .abo-ph {
    width: 800px;
    z-index: 2;
}
.abo-page .container .abo-ph img {
    max-width: 100%;
    max-height: 100%;
}
/* Count */
.cot {
    padding: 40px 0px;
    background-color: rgb(241, 241, 241);
}
.cot .container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.cot .container .box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 0px 90px;
    text-align: center;
}
.cot .container .box i {
    font-size: 60px;
    color: rgb(138, 179, 203);
}
.cot .container .box h2 {
    font-size: 40px;
    font-weight: 600;
    color: rgb(47, 57, 69);
}
.cot .container .box p {
    color: rgb(105, 112, 120);
}
/* services */
.serv {
    padding: 40px 0px;
    background: url("../photos/banner-inner2.jpg") top center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
}
.serv::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -2;
}
.serv .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 40px;
    color: white;
}
.serv .container .serv-head {
    color: white;
    text-align: center;
    margin: 0px 0px 40px;
}
.serv .container .serv-head h1::selection,
.serv .container .serv-head span::selection,
.serv .container .serv-head p::selection {
    color: rgb(0, 120, 215);
    background-color: white;
}
.serv .container .serv-head h1 {
    font-size: 40px;
}
.serv .container .serv-head h1 span {
    color: var(--main-col);
}
.serv .container .serv-head p {
    color: rgb(195, 196, 192);
    padding: 10px;
}
.serv .container .serv-s {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 70px 30px;
}
.serv .container .serv-s .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-shadow: 0 2px 10px rgba(52, 61, 71, 0.2);
}
.serv .container .serv-s .box .tx {
    position: absolute;
    bottom: -40px;
    right: 0;
    background-color: white;
    color: rgb(47, 57, 69);
    padding: 10px 20px;
    direction: rtl;
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    flex-direction: column;
}
.serv .container .serv-s .box .tx h3 {
    color: rgb(47, 57, 71);
    margin: 10px 0px 5px;
}
.serv .container .serv-s .box .tx p {
    color: rgb(109, 116, 124);
    line-height: 1.5;
    font-size: 14px;
    margin: 5px 0px;
}
.serv .container .serv-s .box .tx .caus {
    color: white;
    width: fit-content;
    font-weight: lighter;
    font-size: 15px;
    padding: 15px 30px;
    border-radius: 500px;
    margin: 10px 0px;
}
.serv .container .serv-s .box:hover .ig {
    overflow: hidden;
}
.serv .container .serv-s .box:hover .ig img {
    transform: scale(1.2);
    cursor: pointer;
    transition-duration: 0.5s;
}
.serv .container .serv-s .box .ig img {
    max-width: 100%;
}
.serv .container .caus {
    font-weight: lighter;
    font-size: 15px;
    padding: 25px;
    width: 200px;
    text-align: center;
    border-radius: 500px;
    margin: 60px 0px 0px;
    color: white;
}
/* Doctors */
.doc {
    background-color: rgb(249, 249, 249);
    padding: 80px 0px;
}
.doc .container .tex {
    direction: rtl;
    margin-bottom: 80px;
}
.doc .container .tex p:first-of-type {
    color: rgb(179, 172, 177);
    font-size: 20px;
    margin-bottom: 10px;
    position: relative;
}
.doc .container .tex p:first-of-type::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: var(--main-col);
    right: 90px;
    top: calc(50% - 1.5px);
}
.doc .container .tex h3 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 15px;
}
.doc .container .tex h3 span {
    color: var(--main-col);
}
.doc .container .tex p:last-of-type {
    color: rgba(47, 57, 69, 0.7);
}
.doc .container .dr {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 20px;
}
.doc .container .dr .box {
    box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
}
.doc .container .dr .box .ig img {
    max-width: 100%;
}
.doc .container .dr .box .if {
    padding: 40px;
    text-align: center;
}
.doc .container .dr .box .if h3 {
    color: #2f3945;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.doc .container .dr .box .if p {
    color: var(--main-col);
}
.doc .container .dr .box .if ul {
    direction: rtl;
    height: 200px;
}
.doc .container .dr .box .if li {
    margin-right: 5px;
}
.doc .container .caus {
    font-weight: lighter;
    font-size: 15px;
    padding: 25px;
    width: 120px;
    text-align: center;
    border-radius: 500px;
    margin: 60px auto 0px;
    color: white;
}
/* Customers */
.cust {
    padding: 80px;
    background-color: white;
}
.cust .container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px;
    direction: rtl;
}
.cust .container .ig {
    position: relative;
    border-radius: 50%;
}
.cust .container .ig::before,
.cust .container .ig::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 20px solid var(--main-col);
}
.cust .container .ig::before {
    width: 40px;
    height: 40px;
    left: 20px;
    top: -5px;
}
.cust .container .ig::after {
    border-width: 30px;
    width: 100px;
    height: 100px;
    right: 0px;
    bottom: -50px;
}
.cust .container .ig img {
    max-width: 100%;
    border-radius: 100%;
    box-shadow: 0 2px 10px rgba(52, 61, 71, 0.2);
}
.cust .container .fi p {
    color: rgb(172, 176, 181);
    font-size: 20px;
    margin-bottom: 10px;
    position: relative;
}
.cust .container .fi p::before {
    content: "";
    width: 50px;
    height: 2px;
    background-color: var(--main-col);
    position: absolute;
    right: 165px;
    top: calc(50% - 1px);
}
.cust .container .fi h3 {
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 15px;
}
.cust .container .fi h3 span {
    color: var(--main-col);
}
.cust {
    padding: 80px 0px 100px;
    background-color: white;
}
.cust .container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px;
    direction: rtl;
    padding: 40px 0px;
}
.cust .container .ig {
    position: relative;
    border-radius: 50%;
}
.cust .container .ig::before,
.cust .container .ig::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 20px solid var(--main-col);
}
.cust .container .ig::before {
    width: 40px;
    height: 40px;
    left: 20px;
    top: -5px;
}
.cust .container .ig::after {
    border-width: 30px;
    width: 100px;
    height: 100px;
    right: 0px;
    bottom: -50px;
}
.cust .container .ig img {
    max-width: 100%;
    border-radius: 100%;
    box-shadow: 0 2px 10px rgba(52, 61, 71, 0.2);
}
.cust .container .fi p {
    color: rgb(172, 176, 181);
    font-size: 20px;
    margin-bottom: 10px;
    position: relative;
}
.cust .container .fi p::before {
    content: "";
    width: 50px;
    height: 2px;
    background-color: var(--main-col);
    position: absolute;
    right: 165px;
    top: calc(50% - 1px);
}
.cust .container .fi h3 {
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 15px;
}
.cust .container .fi h3 span {
    color: var(--main-col);
}
.cust .container .sc {
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cust .container .sc .mk {
    color: rgb(172, 176, 181);
    font-size: 25px;
    position: relative;
    padding: 0;
}
.cust .container .sc .mk::before {
    content: url(../photos/quote.png);
    position: absolute;
    right: -100px;
    top: 10px;
}
.cust .container .sc .mk::after {
    content: "نور Noor";
    position: absolute;
    color: black;
    font-weight: 500;
    font-size: 25px;
    direction: rtl;
    left: 10px;
    bottom: -50px;
}
/* Footer */
.fo {
    background: url("../photos/footer-background.jpg") bottom center no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -1;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 80px 0px;
    direction: rtl;
}
.fo .container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.fo .container .box {
    width: 400px;
}
.fo .container .box .he {
    font-size: 25px;
    color: rgb(65, 74, 69);
    font-weight: 500;
    margin-bottom: 20px;
}
.fo .container .box .inf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}
.fo .container .box .inf .lie {
    display: flex;
    align-items: center;
    gap: 20px;
    align-content: center;
}
.fo .container .box .inf .lie a,
.fo .container .box .inf .lie i {
    direction: ltr;
    color: rgb(99, 106, 116);
}
.fo .container .box .inf ul {
    list-style-type: none;
}

.fo .container .box .inf ul li {
    margin-bottom: 10px;
}
.fo .container .box .inf li i {
    transform: rotate(180deg);
    margin-left: 10px;
    color: rgb(92, 99, 108);
}
.fo .container .box .inf ul li a {
    color: rgb(92, 99, 108);
    display: inline;
    margin-right: 5px;
}
.fo .container .box:last-child .he {
    margin-bottom: 5px;
}
.fo .container .box:last-child .he img {
    max-width: 200px;
}
.fo .container .box:last-child .inf {
    color: rgb(47, 57, 69);
    margin: 0;
}
/* Back to Top button */
#top {
    opacity: 0;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 30px;
    z-index: 2;
    font-size: 25px;
    border: none;
    background-color: #42bded;
    color: white;
    border-radius: 50%;
    transition: opacity var(--main-tra);
}
#top:hover {
    cursor: pointer;
    background-color: var(--hover-col);
}
